---
- name: Store iso md5 hash
  set_fact:
    trusted_iso_md5: "{{ lookup('file', '{{isos_dir}}/{{f5_image}}').split(' ').0 }}"

- name: Print iso md5 hash
  debug:
    msg: "{{ trusted_iso_md5 }}"

- name: Upload image to device
  bigip_software_image:
    image: "{{isos_dir}}/{{f5_image}}"
    provider: "{{provider}}"
  delegate_to: localhost

- name: Get checksum
  shell: md5sum /shared/images/{{f5_image}}
  register: checksum
  failed_when: checksum.rc != 0

- name: Store uploaded iso md5
  set_fact:
    uploaded_iso_md5: "{{ checksum.stdout.split(' ').0 }}" 
  
- name: Print and verify checksums
  debug:
    msg: 
      - "calculated md5sum is {{ uploaded_iso_md5 }}"
      - "trusted md5sum is {{ trusted_iso_md5 }}"
  failed_when: uploaded_iso_md5 != trusted_iso_md5

- name: Ensure an existing image is installed in specified volume
  bigip_software_install:
    image: "{{f5_image}}"
    volume: "{{new_volume}}"
    state: installed
    provider: "{{provider}}"
  delegate_to: localhost

- name: Activate the new image and reboot into that volume
  bigip_software_install:
    image: "{{f5_image}}"
    volume: "{{new_volume}}"
    state: activated
    provider: "{{provider}}"
  delegate_to: localhost