---
- name: Reboot into new volume
  bigip_command:
    provider: "{{provider}}"
    commands: 'reboot volume {{new_volume}}'
  delegate_to: localhost

- name : Wait for system to restart and become unreachable
  wait_for:
    host: "{{ ansible_host }}"
    port: 443
    state: stopped
  delegate_to: localhost

- name: Wait for restart to complete
  uri:
    url: "https://{{ ansible_host }}:443/mgmt/shared"
    method: GET
    status_code: 200
    timeout: 300
    body_format: json
    force_basic_auth: true
    user: "{{ ansible_user }}"
    password: "{{ ansible_password }}"
    validate_certs: false
  delegate_to: localhost
  register: f5networks
  until: f5networks is not failed
  retries: 45
